@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#457296;
}

.widget__text {
	font-family: 'Federo', sans-serif;
	font-size: 16px;
	color: black;
	border: 5px solid #279933;
	border-radius: 10px;
}

.widget__image-box--logo {
	height: 150px;
	width: 275px;
}

.widget__image-box {
	text-align: center;
	margin-top: 20px;
}

.widget {
	margin-top: 15vh;
	
}
